practice/TsiAPI/blueSkyFlow.json
[{"id":"d59a6626.1dbd78","type":"tab","label":"BlueSky","disabled":false,"info":""},{"id":"408df07d.eb765","type":"http request","z":"d59a6626.1dbd78","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://tsi-prd.appspot.com/api/v1/external/account/btqufdsuk6m35o00mdpg/device/btqug9223akg02jua6h0/telemetry?latest=true&timezone=America/Chicago","tls":"","persist":false,"proxy":"","authType":"","x":530,"y":340,"wires":[["87b1961d.97d1f8"]]},{"id":"c3cfb3ab.fb60b","type":"debug","z":"d59a6626.1dbd78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":220,"wires":[]},{"id":"c7f171de.6b462","type":"inject","z":"d59a6626.1dbd78","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["401187ec.db8eb8"]]},{"id":"401187ec.db8eb8","type":"function","z":"d59a6626.1dbd78","name":"Access Token","func":"msg.headers = {\n    Authorization: \"Bearer \"+ flow.get(\"access_token\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["408df07d.eb765"]]},{"id":"87b1961d.97d1f8","type":"switch","z":"d59a6626.1dbd78","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":340,"wires":[["74b1dc94.a39a84"],["735819bd.2e14c8"]]},{"id":"f2409dc4.c0b1a","type":"http request","z":"d59a6626.1dbd78","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://tsi-prd.auth0.com/oauth/token","tls":"","persist":true,"proxy":"","authType":"","x":530,"y":440,"wires":[["86e11dab.c9351"]]},{"id":"735819bd.2e14c8","type":"function","z":"d59a6626.1dbd78","name":"Client Auth","func":"msg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\"\n}\n\nmsg.payload = {\n    grant_type:\"client_credentials\",\n    client_id:\"Urj2Pw7wAO3gRaJhVnzX0qU6frehW2LD\",\n    client_secret:\"W2kYUdRvI84TJfWMvaPSWbpwh-pMwJ8ydNKFZ79mzyVeUorf3giVhCGq8xT4SAZZ\",\n    audience:\"https://tsi-prd.appspot.com/api/v1/\"\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["f2409dc4.c0b1a"]]},{"id":"86e11dab.c9351","type":"function","z":"d59a6626.1dbd78","name":"","func":"var pay = JSON.parse(msg.payload);\n\nflow.set(\"access_token\",pay.access_token)\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":440,"wires":[["401187ec.db8eb8"]]},{"id":"bf310547.afd4c8","type":"mqtt out","z":"d59a6626.1dbd78","name":"BEIA Telemetrie","topic":"","qos":"","retain":"","broker":"8ad4e3fd.7e8fd","x":920,"y":320,"wires":[]},{"id":"74b1dc94.a39a84","type":"function","z":"d59a6626.1dbd78","name":"JSON parse","func":"var sensorData = JSON.parse(msg.payload)\n\nvar payload = {}\npayload[\"id\"] = \"BlueSky\"\npayload[\"id_secret\"] = sensorData.serial\npayload[\"id_wasp\"] = sensorData.deviceID\npayload[\"timestamp\"] = sensorData.timestamp\n\n\n// Object.assign({},payload) imi garanteaza ca obiectul este clonat si nu copiat prin referinta\n// astfel cand valorile respective se vor modifica mai jos, schimbarile nu se vor vedea in toate mesajele\n//PM25 Data\npayload[\"sensor\"] = \"PM25\"\npayload[\"value\"] = sensorData[\"sps30_mcpm2x5\"]\nvar pm25msg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/PM25\"\n}\n\n\n//PM25 AQI Data\npayload[\"sensor\"] = \"PM25AQI\"\npayload[\"value\"] = sensorData[\"sps30_mcpm2x5_aqi\"]\nvar pm25aqiMsg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/PM25AQI\"\n}\n\n//PM10 Data\npayload[\"sensor\"] = \"PM10\"\npayload[\"value\"] = sensorData[\"sps30_mcpm10\"]\nvar pm10msg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/PM10\"\n}\n\n//PM10 AQI Data\npayload[\"sensor\"] = \"PM10AQI\"\npayload[\"value\"] = sensorData[\"sps30_mcpm10_aqi\"]\nvar pm10aqiMsg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/PM10AQI\"\n}\n\n\n//Humidity Data\npayload[\"sensor\"] = \"HUM\"\npayload[\"value\"] = sensorData[\"tiber_rh\"]\nvar humMsg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/HUM\"\n}\n\n\n//Temperature Data\npayload[\"sensor\"] = \"TEMP\"\npayload[\"value\"] = sensorData[\"tiber_temp\"]\nvar tempMsg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/TEMP\"\n}\n\n//FanSpeed Data\npayload[\"sensor\"] = \"FANSPD\"\npayload[\"value\"] = sensorData[\"sps30_fanspd\"]\nvar fanspdMsg = {\n    \"payload\": Object.assign({}, payload),\n    \"topic\": \"meshliumfa30/bluesky/FANSPD\"\n}\n\n// Pentru fiecare senzor am construit cate un mesaj\n// iar in acest fel vor fi trimise secvential catre urmatorul bloc\nreturn [[fanspdMsg, pm25msg, pm25aqiMsg, pm10msg, pm10aqiMsg, humMsg, tempMsg]];\n\n\n\n","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["bf310547.afd4c8"]]},{"id":"8ad4e3fd.7e8fd","type":"mqtt-broker","z":"","name":"mqtt.beia-telemetrie.ro.","broker":"mqtt.beia-telemetrie.ro","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]